.items, .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item{
      padding: 40px 20px;
      color: white;
      .item_info{
        font-size: 14x;
        margin-left: 10px;
      }
    }
  }

  .small_info{
    display: flex;
    justify-content: space-between;
    max-height: 450px;
    align-items: center;
  }
  .left_footer{
    display: flex;
    padding-top: 40px ;
    padding-bottom: 60px;
    .info_title{
      color: white;
    }
  }
  .first_info--second_block{
    margin-top: 20px;
  }
  .info_block{
    padding: 0px 20px;
  }
  .btn{
    padding: 30px 0px;
  }
  .sign_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sign_up--right{
      display: flex;
      .sign_up--title{
        color: var(--backgroundcolor-secondary);
        font-weight: bold;
        font-size: 24px;
      }
      .sign_up_social{
        img{
          margin-left:15px ;
        }
      }
    }
  }